{% extends "base/base.html" %}
{%block content%}
<section class="fdb-block">
    <div class="container">
        <div class="container align-items-center justify-content-center d-flex">
            <div class="row align-items-center text-left">
                <div class="col-12">
                    <div>
                        <strong>Cups printer</strong>
                        {% if cups_printer %}
                        <ul>
                            {% for printer in cups_printer %}
                            <li>{{ printer }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                    <strong>Cups User</strong>
                        {% if cups_login %}
                        <ul>
                            <li>{{ cups_login }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>Cups Password</strong>
                        {% if cups_password %}
                        <ul>
                            <li>****</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>Network devices</strong>
                        {% if network_devices %}
                        <ul>
                            {% for device in network_devices %}
                            <li>{{ device }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>Usb devices</strong>
                        {% if usb_devices %}
                        <ul>
                            {% for device in usb_devices %}
                            <li>{{ device }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>Host mac address</strong>
                        {% if host_mac_address %}
                        <ul>
                            <li>{{ host_mac_address }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>Raspberry name</strong>
                        {% if raspberry_name %}
                        <ul>
                            <li>{{ raspberry_name }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ User</strong>
                        {% if rabbitmq_user %}
                        <ul>
                            <li>{{ rabbitmq_user }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Password</strong>
                        {% if rabbitmq_password %}
                        <ul>
                            <li>****</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Host</strong>
                        {% if rabbitmq_host %}
                        <ul>
                            <li>{{ rabbitmq_host }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Port</strong>
                        {% if rabbitmq_port %}
                        <ul>
                            <li>{{ rabbitmq_port }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Path</strong>
                        {% if rabbitmq_path %}
                        <ul>
                            <li>{{ rabbitmq_path }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Queue Names</strong>
                        {% if queue_names %}
                        <ul>
                            <li>{{ queue_names }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Queue Configuration</strong>
                        {% if queue_configuration %}
                        <ul>
                            <li>{{ queue_configuration }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Exchange</strong>
                        {% if rabbitmq_exchange %}
                        <ul>
                            <li>{{ rabbitmq_exchange }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ Delivery Mode</strong>
                        {% if rabbitmq_delivery_mode %}
                        <ul>
                            <li>{{ rabbitmq_delivery_mode }}</li>
                        </ul>
                        {% endif %}
                    </div>
                    <div>
                        <strong>RabbitMQ HTTPS</strong>
                        <ul>
                            <li>{{ rabbitmq_https }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}

