<div class="container">
    <nav class="navbar navbar-light navbar-expand-md no-gutters">
        <div class="col-3 text-left">
            <a href="/">
                <img alt="logo teclib erp" async height="50" src="/static/imgs/logo.png">
            </a>
        </div>

        <button aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-collapse justify-content-center col-md-6" id="navbarmenu">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin" target="_blank" onmouseover="javascript:event.target.port={{ port_cups }}">Cups</span></a>
                </li>
            </ul>
        </div>

    </nav>
</div>
